<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Dan Clarke - CSS Publicity Rep 2020</title>
	<link href="/style/css.css" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=0.75">
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-146711066-1"></script>
	<meta property="og:title" content="Dan Clarke - CSS Publicity Rep 2020">
	<meta property="og:description" content="A page to persuade you to vote for me in the CSS committee elections!">
	<meta property="og:url" content="https://dcdanny.github.io/css-publicity-rep/">
	<meta name="twitter:card" content="summary_large_image">
</head>
<body lang="en">
	<header>
		<span class="left">
			<a class="title" href="/">Dan Clarke</a>
		</span>
	</header>
	<main>
		<div class="text-container">
			{{ content }}
		</div>
	</main>
<br><br><br><br><br><br>
<footer class="site-footer h-card" style="max-width:100%;height:0;">
	Do you like sheep?<br>
	They think you should vote Dan for publicity rep
	<img src="/assets/css/sheep.jpg" alt="sheep in a field" title="Do you like sheep?" style="width:100%;">
</footer>
</body>
</html>
