---
layout: master
---

{{ content }}

	<footer class="site-footer h-card" style="max-width:100%;">
		<div>
			<br>
			<div class="profileImg" style="width:100px;height:100px;"></div>
			<div class="" style="text-align:center;">&copy; Dan Clarke 2021</div>
			<br>
			{% comment %}
			<div class="footerText contact-item">
				<span>Hosted by&nbsp;</span>
				<a href="https://github.com/dcdanny"><img src="/assets/gitHub.png" alt="github"></a>
			</div>
			<div class="wrapper">
				<!--<div class="subText">
	Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.
		</div>-->
			</div>
			{% endcomment %}
		</div>
	</footer>
