---
layout: footer
---

<header class="site-header" role="banner">
	<nav class="titleText">
		<!--{% include nav.html %}-->
	</nav>
	<div class="v-center">
		<div class="profileImg"></div>
		<!--<img src="/assets/profile.jpg" id="profileImg">-->
		<div class="titles">
			<h1 class="titleText">Hello, I'm Dan</h1><br>
			<h2 style="font-size:170%;" class="titleText">3rd Year Computer Science &bull; University of Birmingham</h2>
		</div>
	</div>
	<a href="#profile" class="arrow-down" onclick="event.preventDefault();window.scrollTo(0,window.innerHeight-100);">
		<img src="assets/chevron-down.png" alt="Scroll Down to Content" title="Scroll Down to Content">
	</a>
</header>

		{{ content }}
