---
layout: header
---
<script>
	gen = false;
	function genCon() {
		if (!gen) {
			gen = true;
			document.getElementById('genc').innerHTML = "Loading...";
			setTimeout(function () {
				var a = "l.com";
				var b = "dcdanny";
				var c = "g";
				var d = "clarke";
				var e = 8 * 8;
				var f = "mai";
				var g = String.fromCharCode(e);
				var x = d + g + c + f + a;
				document.getElementById('genc').innerHTML = "<a h" + "ref=" + f + "lto" + ":" + b + x + ">" + b + x + "</a>";
			}, 900);
		}
	}
	document.body.onload = function () {
		var frontwheel = document.getElementById("frontwheel");
		var rearwheel = document.getElementById("rearwheel");
		var skirun = document.getElementById("ski-run");
		var skier = document.getElementById("skier");
		var imagepos = 0;
		var top = 0, left = 0;
		window.onscroll = function () {
			if (frontwheel && rearwheel) {
				var theta = window.pageYOffset || (document.documentElement || document.body.parentNode || document.body).scrollTop;
				theta = theta / 150 % Math.PI;
				frontwheel.style.transform = 'rotate(' + theta + 'rad)';
				rearwheel.style.transform = 'rotate(' + theta + 'rad)';
			}
			if (skier && skirun) {
				//if not off top of screen && not off bottom of screen
				if (skirun.getBoundingClientRect().y < window.innerHeight
					&& skirun.getBoundingClientRect().y > -skirun.offsetHeight
				) {
					imageScrollPos = skirun.getBoundingClientRect().y / window.innerHeight
					coords = skiLine(imageScrollPos);
					skier.style.left = coords[0] + "px";
					skier.style.top = coords[1] + "px";
					skier.style.transform = coords[2];
				}
			}
		};
	};

	function skiLine(scroll) {
		var scrollStd = 0;
		var left = 0, top = 0, transform = "";
		scroll = between1and0(scroll)
		//scroll scrollStd	left	top
		//	0		  0		120		-50
		//	0.33	0 1		0		0
		//	0.66	1 0		200		85
		//	1		  1		50		160

		if (scroll < 0.33) {
			scrollStd = scroll * 3;
			left = 150 * scrollStd + 50; //200-50 s + 50
			top = -75 * scrollStd + 160; //85-160 s + 160
			transform = "";
		} else if (scroll > 0.33 && scroll < 0.66) {
			scrollStd = (scroll - 0.33) * 3;
			left = -200 * scrollStd + 200; //200 s + 200
			top = -85 * scrollStd + 85; //-85 s + 85
			transform = "rotate(15deg) scaleX(-1)";
		} else {
			scrollStd = (scroll - 0.66) * 3;
			left = 120 * scrollStd; //120 s
			top = -50 * scrollStd; //-50 s
		}
		return [left, top, transform];
	}

	function between1and0(value) {
		//Forces a value to closest point between 0 and 1
		if (value >= 1) { return 1; }
		else if (value <= 0) { return 0; }
		else { return value; }
	}

</script>
<!--<div style="display:none;background:rgba(255,0,0,0.4);width:50%;height:100%;position:fixed;top:0;">50%</div>
	<div style="display:none;background:rgba(0,0,255,0.3);width:33.3%;height:100%;position:fixed;top:0;left:33.3%;">33.3%</div>
	<div style="display:none;background:rgba(0,255,255,0.3);width:80%;height:100%;position:fixed;top:0;left:10%;">80%</div>-->
<section class="container profile" id="profile" aria-label="Profile">
	<div class="container-inner">
		<table style="width:100%;">
			<tr>
				<td class="profile-column-left">
					<span class="headtext">Daniel Clarke</span>
				</td>
				<td class="profile-column-right">
					<div class="contact-item">
						<img src="/assets/location.png" alt="Location" style="width:40px;">
						<span>Birmingham, UK</span>
					</div>
					<br>

					<div class="contact-item">
						<img src="/assets/mail.png" alt="Email" style="width:40px;">
						<span id="genc" style="cursor:pointer;">
							<span tabindex="0" role="button" onclick="genCon();">
								Click to Reveal...<noscript> (Requires Javascript)</noscript>
							</span>
						</span>
					</div>
					<br>

					<div class="contact-item">
						<a href="https://linkedin.com/in/dan-j-clarke/" target="_blank" rel="noreferrer noopener">
							<img src="/assets/linkedin.png" alt="LinkedIn Icon" style="width:40px;">
							<span>linkedin.com/in/dan-j-clarke/</span>
						</a>
					</div>
					<br>
					<div class="contact-item">
						<a href="https://github.com/dcdanny" target="_blank" rel="noreferrer noopener">
							<img src="/assets/gitHub.png" alt="GitHub Icon" style="width:40px;">
							<span>github.com/dcdanny</span>
						</a>
					</div>
				</td>
			</tr>
		</table>
	</div>
</section>
<section class="container fixedImg" id="technical" aria-label="Technical"
	style="height:0%;background-image:url('/assets/codeWallpaper.png');background-color: #333;padding:0;">
	<!--Semi Transparent Overlay-->
	<div style="height:100%;background-color:rgba(0,0,0,0.4);width:100%;">
		<div class="container-inner" style="color:#FFFFFF;text-align:center;">
			<span class="headtext"><img src="/assets/codeIconw.png" alt="Coding Icon">Technical Skills</span>
			<taglist>
				<ul>
					<li>HTML</li>
					<li>CSS</li>
					<li>PHP</li>
					<li>Javascript</li>
					<li>Node.js</li>
					<br>
					<li>Java</li>

					<li>Git</li>
					<li>Python</li>
					<li>NLTK</li>
					<li>Matlab</li>
					<li>SQL</li>
					<li>C/C++</li>
					<br>
					<li>Linux</li>
					<li>Windows</li>
				</ul>
			</taglist>
			<span class="headtext"><img src="/assets/heartIconw.png" alt="Heart Icon">Projects</span>
			<dateList style="text-align: left;">
				<ul>
					<li><span>2019 </span>As part of my degree course, working as a team to produce a 2D game in Java
					</li>
					<li><span>2018/2019 </span>Volunteering with Valefest to develop their website &amp; QR code
						ticketing system for the 2019 student festival: <u><a href="http://valefest.co.uk/"
								rel="noreferrer noopener" target="_blank">valefest.co.uk</a></u></li>
					<li><span>2018/2019 </span>Currently working on a desktop music player application using ElectronJS
						and Node.js</li>
					<li><span>2018/2019 </span>Attended Hack the Midlands Hackathon in both 2017 & 2018 In 2018 my team
						and I made a web based chess game</li>
					<li><span>2012 - 2014</span>Use my Raspberry Pi for programming and created my first website! It had
						several different divisions with useful tools.</li>

				</ul>
			</dateList>
			<tilelist>
				<ul>
					<li>
						<a href="https://github.com/dcdanny/Halflife-Team-Project" rel="noreferrer noopener"
							target="_blank">
							<div class="imageContainer">
								<img src="/assets/pokoThumbnail.png" alt="POKO Game Thumbnail">
							</div>
							<span>POKO (2019)</span>
							<span class="subText">Second year team project as part of my degree course - a platform game
								written in Java</span>
						</a>
					</li>
					<li>
						<a href="https://valefest.co.uk/" rel="noreferrer noopener" target="_blank">
							<div class="imageContainer">
								<img src="/assets/valefestThumbnail.png" alt="ValeFest Website Thumbnail">
							</div>
							<span>Valefest.co.uk (2018 -)</span>
							<span class="subText">Volunteering with ValeFest to develop their website &amp; QR code
								ticketing system for the 2019 &amp; 2020 student festivals</span>
						</a>
					</li>
					<li>
						<a href="https://github.com/dcdanny/allegretto" rel="noreferrer noopener" target="_blank">
							<div class="imageContainer">
								<img src="/assets/allegrettoThumbnail.png" alt="Allegretto Music Player Thumbnail">
							</div>
							<span>Allegretto Music Player</span>
							<span class="subText">Personal project currently in progress - Enables you to play and
								manage
								your music library and playlists</span>
						</a>
					</li>
					<li>
						<a href="https://github.com/dcdanny/web-tv-viewer" rel="noreferrer noopener" target="_blank">
							<div class="imageContainer">
								<img src="/assets/tvViewerThumbnail.png" alt="TV Viewer Thumbnail">
							</div>
							<span>Web TV Viewer</span>
							<span class="subText">Personal project currently in progress - Allows watching live TV and
								on
								demand from your PC, remote controllable from your smartphone with a web
								interface</span>
						</a>
					</li>
					<li>
						<a href="https://edsrugby.github.io/" rel="noreferrer noopener" target="_blank">
							<div class="imageContainer">
								<img src="/assets/edsrugbyThumbnail.png" alt="Eds rugby website Thumbnail">
							</div>
							<span>Edwardians Rugby (2019)</span>
							<span class="subText">Prototype website built for a local rugby club</span>
						</a>
					</li>
				</ul>
			</tilelist>
			Some of these are available on my <u><a href="https://github.com/dcdanny">GitHub</a></u>
			<br><br>
			<div style="width:50%;float:right;font-size:110%;color:#727272;" class="subText">

			</div>
		</div>
	</div>
</section>
<div class="container education-section" style="height:200px;background-color:#d6ff67;background-color: #96cc00;">
	<div class="container-inner">
		<span class="headtext"><img src="/assets/educationIcon.png" alt="Education Icon">Education</span><br>
		<div style="width:30%;min-width:130px;float:left;text-align:center;">
			<div style="margin: 5px;">
				<span class="largetext">University of Birmingham</span><br>
				<span class="subText">Edgbaston, Birmingham, B15 2TT</span><br>
			</div>
		</div>
		<div style="width:70%;float:left;margin-bottom:5px;">
			<div style="margin: 5px;">
				<span style="">BSc Computer Science</span>&nbsp;
				<span class="subText">Sept 2017 - Present</span><br>
				<span>First Year</span> <span class="subText">2:1</span><br>
				<span>Second Year</span> <span class="subText">2:1</span><br>
				<span class="">Graduation 2021, Expected 2:1</span><br>
			</div>
		</div>
	</div>

</div>
<div class="transition" style="background-image: url('/assets/limeTransition.png');"></div>
<div class="container" style="background-color:#FFFFFF;color:#000000;">
	<div class="container-inner">
		<span class="headtext"><img src="/assets/heartIcon.png" alt="Heart Icon">Other Interests</span>
		<!-- When I'm not working on my latest project: -->
		<br>

		<div class="interestsContainer">
			<div>
				<div style="float:left;" class="v-center">
					<div class="ski">
							<img src="/assets/ski-run.png" alt="Ski Run" id="ski-run" class="ski-run">
							<img src="/assets/skier.png" alt="Ski Run" id="skier" class="skier">
					</div>
				</div>
			</div>
			<div>
				<div style="float:right;" class="v-center">
					<div class="headtext">Skiing</div>
				</div>
			</div>
		</div>

		<div class="interestsContainer">
			<div>
				<div style="float:left;" class="v-center">
					<div class="headtext">Cycling</div>
				</div>
			</div>
			<div>
				<div style="float:right;" class="v-center">
					<div class="bicycle">
						<img src="/assets/bicycleWheel.png" alt="Bike Wheel" id="frontwheel" class="wheel">
						<img src="/assets/bicycleWheel.png" alt="Bike Wheel" id="rearwheel" class="wheel">
						<img src="/assets/bicycleFrame.png" alt="Bike Frame" class="frame">
					</div>
				</div>
			</div>
		</div>


		
		<br><br>


	</div>
</div>
<div class="container more" style="background-color:#000000;color:#FFFFFF;">
	<div class="container-inner" style="max-width:900px;">
		<span class="headtext">
			<img src="/assets/fileIconW.png" alt="Heart Icon">Theres more...
		</span>
		<br>
		<a href="#profile" style="text-decoration: underline;">Contact me</a> for a copy of my CV!
		<br><br>
	</div>
</div>

<!--
<tilelist class="big">
	<ul>
		<li>
			<div class="">
				<div class="bicycle">
					<img src="/assets/bicycleWheel.png" alt="Bike Wheel" id="frontwheel" class="wheel">
					<img src="/assets/bicycleWheel.png" alt="Bike Wheel" id="rearwheel" class="wheel">
					<img src="/assets/bicycleFrame.png" alt="Bike Frame" id="" class="frame">
				</div>
			</div>
			<span>Cycling</span>
		</li>
		<li>
			<div class="">
				<div class="bicycle">
					<img src="/assets/bicycleWheel.png" alt="Bike Wheel" id="frontwheel" class="wheel">
					<img src="/assets/bicycleWheel.png" alt="Bike Wheel" id="rearwheel" class="wheel">
					<img src="/assets/bicycleFrame.png" alt="Bike Frame" id="" class="frame">
				</div>
			</div>
			<span>Skiing</span>
		</li>
	</ul>
</tilelist>
-->