<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Daniel Clarke</title>
	<link href="/style/style.css" rel="stylesheet">
	<script type="text/javascript" src="/script/script.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=0.75">
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-146711066-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'UA-146711066-1');
	</script>
</head>

<body lang="en">

	{{ content }}

	<footer class="site-footer h-card" style="max-width:100%;">
		<div>
			<br>
			<div class="profileImg" style="width:100px;height:100px;"></div>
			<div class="" style="text-align:center;">&copy; Dan Clarke 2020</div>
			<br>
			{% comment %}
			<div class="footerText contact-item">
				<span>Hosted by&nbsp;</span>
				<a href="https://github.com/dcdanny"><img src="/assets/gitHub.png" alt="github"></a>
			</div>
			{% endcomment %}
			<div class="wrapper">
				<!--<div class="subText">
	Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.
		</div>-->
			</div>
		</div>
	</footer>

</body>

</html>