<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>dcdanny's Github</title>
	<link href="/style/style.css" rel="stylesheet">
	<script type="text/javascript" src="/script/script.js"></script>
</head>
<body lang="en">

		{{ content }}


<footer class="site-footer h-card">
	<div class="wrapper">
		<h2 class="footer-heading">dcdanny.github.io</h2>

		<div class="footer-col-wrapper">
			<ul class="contact-list">
				<li class="p-name">dcdanny.github.io</li>
				<li><a class="u-email" href="mailto:your-email@example.com">your-email@example.com</a></li>
			</ul>
		</div>

		<div class="subText">
			width:100%;
		</div>

		<div class="subText">
	Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.
		</div>
	</div>
</footer>

</body>
</html>
