<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>dcdanny's Github</title>
	<link href="/style/style.css" rel="stylesheet">
	<script type="text/javascript" src="/script/script.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=0.75">
</head>
<body lang="en">

		{{ content }}

<footer class="site-footer h-card" style="max-width:100%;">
	<div class="footerText contact-item">
		<span>Hosted by&nbsp;</span>
		<a href="https://github.com/dcdanny"><img src="/assets/gitHub.png" alt="github"></a>
		<span>&nbsp;&nbsp; dcdanny.github.io</span>
	</div>
	<div class="wrapper">
		<!--<div class="subText">
	Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.
		</div>-->
	</div>
</footer>

</body>
</html>
